<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Twitter", home_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "contact", contact_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "tweets", posts_path %></li>
            <li><%= link_to "Sign Up", users_path %></li>
          </ul>
        </nav>
      </div>
    </header>
      <%= yield %>

  </body>
</html>
